*,
a::after,
a::before {
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page-weather {
	display: flex;
	padding: 30px;
}

.block {
	width: 300px;
	background: #ece1e1;
	padding: 30px;
	margin-right: 20px;
}
.block__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 150px;
}
.block__info {
	display: flex;
	flex-direction: column;
	min-height: 280px;
}

.block__service {
	font-size: 16px;
	font-style: italic;
	margin-bottom: 20px;
}

.block__city {
	display: inline-block;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
}

.block__country {
	font-size: 14px;
	margin-bottom: 30px;
}

.block__text {
	display: inline-block;
	text-align: center;
	min-height: 18px;
	margin-bottom: 25px;
}

.btn-refresh {
	vertical-align: middle;
	margin-right: 50px;
}

.select {
	vertical-align: middle;
}
